<%- include ./partials/head %>
<%- include ./partials/navCustomer %>
<main>
    <h1>HOME</h1>
    <p>
    <h2>
        Welcome,
        <%= userMessages.first_name %>
        <%= userMessages.last_name %>
    </h2>
    </p>
    <a href="/order/<%= userMessages.id %>">Order</a>
    <form action="" id="form_purchase" method="post">
        <input type="text" id="UserId" name="UserId" value="<%= userMessages.id %>" hidden>
        <label for="fromTo" class="label_form_purchase">
            Trip :
            <select list="RouteId" name="RouteId">
                <% routeMessages.forEach(e => { %>
                    <option value="<%= e.id %>"><%= e.from %> => <%= e.to %></option>
                <% }) %>
            </select>
        </label>
        <label for="date">
            Date
            <input type="date" name="date" id="date">
        </label>
        <input type="submit" value="Pesan">
    </form>
</main>
<%- include ./partials/foot %>