<%- include ./partials/head %>
<%- include ./partials/navCustomer %>
<main class="hero">
    <h1 class="text-center">PESAN TIKET</h1>

    <form action="" id="form_purchase" class="center-form banner" method="post">
        <input type="text" id="UserId" name="UserId" value="<%= userMessages.id %>" hidden>
        <label for="fromTo" class="label_form_purchase">
            Trip :
            <select list="RouteId" name="RouteId">
                <% routeMessages.forEach(e => { %>
                    <option value="<%= e.id %>"><%= e.from %> => <%= e.to %></option>
                <% }) %>
            </select>
        </label>
        <label for="date">
            Date
            <input type="date" name="date" id="date">
        </label>
        <input type="submit" value="Pesan">
    </form>
</main>
<%- include ./partials/foot %>