<%- include ./partials/head %>
<%- include ./partials/navCustomer %>
<Table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>From</th>
        <th>To</th>
        <th>Price</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>[ID]</td>
        <td>
            <%= orderMessage.first_name %>
            <%= orderMessage.last_name %>
        </td>
        <td><%= orderMessage.gender %></td>
        <td><%= orderMessage.Routes[0].from %></td>
        <td><%= orderMessage.Routes[0].to %></td>
        <td><%= orderMessage.Routes[0].price %></td>
        <td><%= orderMessage.Routes[0].Ticket.status %></td>
        <td></td>
    </tr>
</Table>
<%- include ./partials/foot %>