<%- include ./partials/head %>
<%- include ./partials/navCustomer %>
<Table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>From</th>
        <th>To</th>
        <th>Price</th>
        <th>Status</th>
    </tr>
    <% orderMessage.dataValues.forEach(e => { %>
        <tr>
            <td>[ID]</td>
            <td>
                <%= e.first_name %>
                <%= e.last_name %>
            </td>
            <td><%= e.gender %></td>
            <td><%= e.Routes[0].from %></td>
            <td><%= e.Routes[0].to %></td>
            <td><%= e.Routes[0].price %></td>
            <td><%= e.Routes[0].Ticket.status %></td>
            <td></td>
        </tr>
    <% }) %>
</Table>
<%- include ./partials/foot %>